* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f5e5e5;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.App.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App.col.top {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  min-width: 150px;
  margin: 10px;
  padding: 10px;
}

.children span {
  font-size: 20px;
  font-weight: bold;
}

.children.nr1 {
  border: 2px solid crimson;
}

.children.nr2 {
  border: 2px solid yellow;
}

.children.nr3 {
  border: 2px solid brown;
}

.books {
  width: 1024px;
  border: 1px solid lightslategrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.books__book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.books__book h2 {
  color: darkred;
  font-size: 32px;
  padding: 20px;
  text-align: center;
}

.books__book__author {
  padding: 25px;
  font-style: italic;
  color: peru;
  font-size: 20px;
}

.books__book__price {
  margin: 0;
  padding: 20px;
  color: crimson;
  font-size: 30px;
  letter-spacing: 1px;
}

.books__list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.books__list__loading {
  padding: 50px;
}

.books__list__book {
  width: 250px;
  height: 440px;
  border: 3px solid powderblue;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.books__list__book__title {
  height: 66px;
  overflow: hidden;
  padding: 10px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.books__list__book__title a {
  color: darkcyan;
  font-weight: bold;
}

.books__list__book__img {
  padding: 10px;
}

.books__list__book__author {
  padding: 5px;
  font-style: italic;
  color: peru;
}

.books__list__book__price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.books__list__book__price span {
  margin: 0;
  padding: 10px;
  color: crimson;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.btn-shine {
  padding: 12px 48px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, orangered), color-stop(10%, #fff), color-stop(20%, orangered));
  background: linear-gradient(to right, orangered 0, #fff 10%, orangered 20%);
  background-position: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 3s infinite linear;
          animation: shine 3s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}

@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
/*# sourceMappingURL=index.css.map */